@page
@model FoodieFavorites.Pages.ClientRestaurants

@{
    ViewData["Title"] = "";
}

<h1>Client Restaurants</h1>

<table class="table" id="restaurants">
    
</table>

@section Scripts
{
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/bs4/dt-1.10.20/r-2.2.3/datatables.min.css"/>
    <script type="text/javascript" src="https://cdn.datatables.net/v/bs4/dt-1.10.20/r-2.2.3/datatables.min.js"></script>
    
    <script type="text/javascript">
        $(function() {
          $.ajax("/API/Restaurants",
          { method: "get"})
          .then(function(response) {
              console.log(response);
              $("#restaurants").dataTable({
                data: response,
                columns: [
                    {
                        "data": "name"
                    },
                    {
                        "data": "location"
                    },
                    {
                        "data": "cuisine"
                    }
                ]
              })
          })
        })
    </script>
}
