@page
@model FoodieFavorites.Pages.NotFound

@{
    ViewData["Title"] = "Not Found";
}

<h1>The restaurant you entered was not found</h1>
<a asp-page="./List" class="btn btn-primary">View All Restaurants</a>
